body {
    --main-color: #8A01CA;
    font-family: 'Mulish', sans-serif;
}

.monospace {
    font-family: monospace;
}

.card {
    transition: 0.3s;
    margin: 10px;
    padding: 16px 16px;
    border: var(--main-color) solid;
    border-radius: 12px;
}

.card> :first-child {
    margin-top: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h2,
p {
    margin: 10px 0;
}

button {
    border: var(--main-color) solid;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    font-family: inherit;
}

button:hover:enabled {
    background-color: var(--main-color);
    color: white;
}

button:disabled {
    border: lightgray solid;
    color: gray;
    cursor: inherit;
}

.donated {
    font-weight: normal;
}

.block {
    display: block;
    width: 100%;
}