h2 {
    margin: 0;
}

.name,
.amount:not(.amount-gbp) {
    font-weight: bold;
}


#donations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    gap: 0.5rem;
}

.card {
    --bs-card-spacer-y: 0.5rem;
    --bs-card-spacer-x: 0.75rem;
    flex-grow: 1;
}

.read {
    opacity: 0.5;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 0.25em;
}

.message {
    line-height: 1.2;
    flex-grow: 1;
}

#settings {
    /* width: fit-content; */
    position: absolute;
    z-index: 10;
}

#settings summary {
    opacity: 0.5;
}

.button-row {
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.btn-primary {
    --bs-btn-disabled-border-color: gray !important;
    --bs-btn-disabled-bg: gray !important;
}

.btn-outline-primary {
    --bs-btn-disabled-border-color: gray !important;
    --bs-btn-disabled-color: gray !important;

    --bs-btn-hover-bg: var(--bs-primary-border-subtle);
    --bs-btn-hover-color: var(--bs-primary);
}

.bi:first-child:not(:only-child) {
    margin-right: 0.3em;
}